# Lab-2-trtpo
1 Введение
Проект носит название «Список покупок». Часто людям идя в магазин необходимо носить с собой длинные бумажные списки покупок, которые очень часто теряются не доходя до магазина и которые очень надоедает писать вручную, особенно когда под рукой нету листика и бумаги. Задачей программы является предоставление удобного инструментария для того, чтобы упростить пользователю решение данной задачи. Проект рассчитан на ускорение процесса выполнения данного круга задач и простоту использования, поэтому в рамках проекта будет обеспечен необходимый интерфейс и набор только необходимых функций, без поддержки дополнительных сервисов и расширений функционала.    
2 Требования пользователя
2.1 Программные интерфейсы
Программа не взаимодействует с другими приложениями и сервисами. Используется библиотека Swing.  
2.2	Интерфейс пользователя
  Интерфейс пользователя будет состоять из одного окна. Главный экран будет содержать пункты меню: создать список, мои списки, статистика, выход. 
	Создать список: по клику на этот пункт будет появляться список категорий продуктов, каждая из категорий будет содержать подпункты из товаров. Например: Напитки->минеральная вода
																				->газировка->кока-кола
																				->фанта
	Мои списки: это меню будет содержать все сохраненные списки покупок.
	Статистика: здесь будет отображаться статистика за все время работы приложения. Статистика будет вестись по таким пунктам, как итоговая стоимость за неделю, месяц, год; наиболее популярные товары.
	Выход: будет осуществляться закрытие приложения.
2.3 Характеристики пользователей
	Данное приложени подходит для всех пользователей которые ходят по магазинам за продуктами. Для использования приложения достаточно обладать самыми минимальными навыками владения компьютера.
2.4 Предположения и зависимости
Основным фактором, который может привести к модификации требований к проекту является пользователь, при условии того, что он не может в полной мере решить поставленную задачу, соответствующую функционалу и назначению приложения.  
3 Системные требования
3.1 Функциональные требования
Приложение должно:
1.	Предоставлять пользователю возможность создавать список покупок путем выбора нужного пункта из уже готового списка всех наиболее популярных продуктов, рассортированных по категориям.
2.	Подсчитывать итоговую сумму всех продуктов в корзине.
3.	Подсчитывать итоговую сумму калорий продуктов в корзине.
4.	Иметь возможность сохранять списки продуктов.
5.	Вести статистику по категориям: самые популярные продукты; итоговая сумма за неделю, месяц, год;

3.2 Нефункциональные требования
Приложение решает задачу планирования и хранения информации, в связи с этим основными требованиями к качеству являются:
1.	Надежность: в приложении недопустимы никакие ошибки и сбои.
2.	Точность: будет производиться итоговый подсчет сумм - ошибки недопустимы.
