<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.product_list" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ProductList"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CategoryList"
            android:label="Список категорий" >
        </activity>
        <activity
            android:name=".StatisticActivity"
            android:label="Статистика" >
        </activity>
        <activity android:name=".MyLists"
            android:label="Мои списки">
        </activity>
        <activity android:name=".List"
            android:label="Содержимое списка">
        </activity>
        <activity android:name=".AddNewProduct"
            android:label="Категории продуктов">
        </activity>
        <activity android:name=".CategoryProductsList"
            android:label="Продукты">
        </activity>
    </application>

</manifest>
